<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitbox.bitboxMapper">
	<select id="listAll" resultType="com.bitbox.dto.PBoardDTO">
		select * from pboard where
		s_id=#{id}
	</select>

	<insert id="regist" parameterType="com.bitbox.dto.PBoardDTO">
		<selectKey keyProperty="p_boardseq" order="BEFORE"
			resultType="Integer">
			select p_boardseq.nextval from dual
		</selectKey>
		insert into
		pboard(p_boardseq,p_title,p_content,p_filename,p_uuidname,p_category,s_id)
		values(#{p_boardseq},#{p_title},#{p_content},#{p_filename},#{p_uuidname},#{p_category},#{s_id})

	</insert>
	
	<select id="finduuidname" resultType="com.bitbox.dto.PBoardDTO">
		select * from pboard where p_boardseq=#{p_boardseq}
	</select>

	<select id="getCalendar" resultType="com.bitbox.dto.PBoardDTO" parameterType="String">
		select * from pboard where s_id=#{s_id}
	</select>

	<update id="projectUpdate" parameterType="com.bitbox.dto.PBoardDTO">
		update pboard set
		p_title = #{p_title}, p_content= #{p_content} where
		p_boardseq=#{p_boardseq}
	</update>
	
	<delete id="projectDelete" parameterType="com.bitbox.dto.PBoardDTO">
		delete from pboard where p_boardseq=#{p_boardseq} and s_id=#{s_id}
	</delete>

	<select id="getGroupList" resultType="com.bitbox.dto.GroupDTO">
		select * from cgroup
	</select>
	<!-- 확인해야됨 -->
	<select id="getGroupModal" parameterType="String" resultType="com.bitbox.dto.GroupDTO">
		select * from cgroup where group_seq=#{gNo}
	</select>
	<select id="getGroup" parameterType="Integer" resultType="com.bitbox.dto.GroupDTO">
		select
		* from cgroup where group_seq=#{seq}
	</select>
	<!-- 확인해야됨 -->
	<select id="selectGin" parameterType="com.bitbox.dto.GinDTO" resultType="com.bitbox.dto.GinDTO">
		select
		* from groupin where group_seq=#{group_seq} and s_id=#{s_id}
	</select>
	<!-- 확인해야됨 -->
	<insert id="groupIn" parameterType="com.bitbox.dto.GinDTO">
		<selectKey keyProperty="gin_seq" order="BEFORE" resultType="Integer">
			select gin_seq.nextval from dual
		</selectKey>
		insert into groupin(gin_seq,group_seq,s_id)
		values(#{gin_seq},#{group_seq},#{s_id})
	</insert>

	<insert id="groupRegist" parameterType="com.bitbox.dto.GroupDTO">
		<selectKey keyProperty="group_seq" order="BEFORE" resultType="Integer">
			select group_seq.nextval from dual
		</selectKey>
		insert into cgroup(group_seq, pw, title, s_id,info)
		values(#{group_seq}, #{pw}, #{title}, #{s_id}, #{info})
	</insert>
	
	<insert id="registPMemo" parameterType="com.bitbox.dto.PMemoDTO">
		<selectKey keyProperty="m_seq" order="BEFORE" resultType="Integer">
			select m_seq.nextval from dual
		</selectKey>
		insert into pmemo(m_seq, m_title, m_content, s_id)
		values(#{m_seq}, #{m_title}, #{m_content}, #{s_id})
	</insert>
	
	<insert id="registGMemo" parameterType="com.bitbox.dto.GMemoDTO">
		<selectKey keyProperty="gm_seq" order="BEFORE" resultType="Integer">
			select gm_seq.nextval from dual
		</selectKey>
		insert into gmemo(gm_seq, m_title, m_content, group_seq)
		values(#{gm_seq}, #{m_title}, #{m_content}, #{group_seq})
	</insert>
	
	<select id="getPMemoList" parameterType="com.bitbox.dto.PageDTO" resultType="com.bitbox.dto.PMemoDTO">
		select A.* from(
			select rownum as num,temp.* from(
				select * from pmemo where s_id=#{id} order by m_seq desc
				) temp
			) A 
		where A.num between #{start} and #{start}+2
	</select>
	
	<select id="getGMemoList" parameterType="com.bitbox.dto.gPageDTO" resultType="com.bitbox.dto.GMemoDTO">
		select A.* from(
			select rownum as num,temp.* from(
				select * from gmemo where group_seq=#{group_seq} order by gm_seq desc
				) temp
			) A 
		where A.num between #{start} and #{start}+2
	</select>
	
	<select id="getPMemoCnt" parameterType="String" resultType="Integer">
		select count(*) from pmemo where s_id = #{id}
	</select>
	
	<select id="getPBoardCnt" resultType="Integer">
		select count(*) from pboard 
	</select>
	<select id="getGMemoCnt" parameterType="Integer" resultType="Integer">
		select count(*) from gmemo where group_seq = #{group_seq}
	</select>
	
	<delete id="removePMemo" parameterType="Integer">
		delete from Pmemo where m_seq = #{m_seq}
	</delete>
	
	<update id="updatePMemo" parameterType="com.bitbox.dto.PMemoDTO">
		update pmemo set m_title = #{m_title}, m_content = #{m_content} where m_seq = #{m_seq}
	</update>
	
	<select id="getPMemoModal" parameterType="Integer" resultType="com.bitbox.dto.PMemoDTO">
		select * from pmemo where m_seq = #{seq}
	</select>
	
	<delete id="removeGMemo" parameterType="Integer">
		delete from gmemo where gm_seq = #{gm_seq}
	</delete>
	
	<update id="updateGMemo" parameterType="com.bitbox.dto.GMemoDTO">
		update gmemo set m_title = #{m_title}, m_content = #{m_content} where gm_seq = #{gm_seq} 
	</update>
	
	<select id="getGMemoModal" parameterType="Integer" resultType="com.bitbox.dto.GMemoDTO">
		select * from gmemo where gm_seq = #{seq}
	</select>
	
	<select id="getCnt" resultType="Integer">
		select count(*) from pboard
	</select>
	
	<update id="updateReadCount" parameterType="Integer">
		update qna set q_readcount = q_readcount + 1 where q_seq = #{q_seq} 
	</update>
	
	<select id="detailQna" resultType="com.bitbox.dto.QnaDTO" parameterType="Integer">
		select * from qna where q_seq = #{q_seq}
	</select>
	
	<select id="getQnaList" resultType="com.bitbox.dto.QnaDTO">
		select A.* from(
			select rownum as num,temp.* from(
				select * from qna order by q_seq desc
				) temp
			) A 
		where A.num between #{start} and #{start}+9
	</select>
	
	<insert id="registQna" parameterType="com.bitbox.dto.QnaDTO">
		<selectKey keyProperty="q_seq" order="BEFORE" resultType="Integer">
			select q_seq.nextval from dual
		</selectKey>
		insert into qna(q_seq, q_title, q_content, q_upload, q_image, q_category, s_id)
		values(#{q_seq}, #{q_title}, #{q_content}, #{q_upload}, #{q_image}, #{q_category}, #{s_id})
	</insert>
	
	<select id="qnaCnt" resultType="Integer">
		select count(*) from qna
	</select>
	
	<update id="qnaUpdate" parameterType="com.bitbox.dto.QnaDTO">
		update qna set q_title = #{q_title}, q_content = #{q_content} where q_seq = #{q_seq}
	</update>
	
	<delete id="qnaDelete" parameterType="Integer">
		delete from qna where q_seq = #{q_seq}
	</delete>
	<select id="getReplyList" parameterType="com.bitbox.dto.ReQnaDTO" resultType="com.bitbox.dto.ReQnaDTO">
		select * from reqna where q_seq = #{q_seq}
	</select>
	
	<insert id="registReply" parameterType="com.bitbox.dto.ReQnaDTO">
		<selectKey keyProperty="re_seq" order="BEFORE" resultType="Integer">
			select re_seq.nextval from dual
		</selectKey>
		insert into reqna(re_seq, re_writer, re_content, q_seq)
		values(#{re_seq}, #{re_writer}, #{re_content}, #{q_seq})
	</insert>
	
		<select id="minutesList" parameterType="com.bitbox.dto.mPageDTO" resultType="com.bitbox.dto.MinutesDTO">
		select A.* from(
			select rownum as num,temp.* from(
				select * from gminutes where group_seq=#{group_seq} order by min_seq desc
				) temp
			) A 
		where A.num between #{start} and #{start}+9
	</select>
	
	<select id="getNameList" parameterType="Integer" resultType="String">
		select s_name from student s, groupin g
		where s.s_id = g.s_id and g.group_seq = #{group_seq}
	</select>
	
	<insert id="registMinutes" parameterType="com.bitbox.dto.MinutesDTO">
		<selectKey keyProperty="min_seq" order="BEFORE" resultType="Integer">
			select min_seq.nextval from dual
		</selectKey>
		insert into gminutes(min_seq, min_date, min_attendee, min_subject, min_content, min_opinion, min_decide,
		min_schedule, min_prepare, group_seq) 
		values(#{min_seq}, #{min_date}, #{min_attendee}, #{min_subject}, #{min_content}, #{min_opinion}, #{min_decide}, 
		#{min_schedule}, #{min_prepare}, #{group_seq})
	</insert>
	
	<select id="readMinutes" parameterType="Integer" resultType="com.bitbox.dto.MinutesDTO">
		select * from gminutes where min_seq = #{seq}
	</select>
	
	<select id="mCnt" resultType="Integer" parameterType="Integer">
		select count(*) from gminutes where group_seq = #{group_seq}
	</select>
	
	<update id="updateMinutes" parameterType="com.bitbox.dto.MinutesDTO">
		update gminutes set min_subject = #{min_subject}, min_content = #{min_content}, min_opinion = #{min_opinion},
		min_decide = #{min_decide}, min_schedule = #{min_schedule}, min_prepare = #{min_prepare}
		where min_seq = #{min_seq}
	</update>
	
	<delete id="deleteMinutes" parameterType="Integer">
		delete from gminutes where min_seq = #{min_seq}
	</delete>
	
	<select id="getReplyUser" resultType="com.bitbox.dto.StudentDTO" parameterType="String">
		select * from student where s_id = #{s_id}
	</select>
	
	<update id="myUpdate" parameterType="com.bitbox.dto.StudentDTO">
		update student set s_img=#{s_img}, s_uuid_img=#{s_uuid_img}, s_email = #{s_email}, s_phone = #{s_phone} where s_name = #{s_name}
	</update>
	
	<select id="chart" resultType="com.bitbox.dto.GanttDTO" parameterType="Integer">
		select * from ggantt where group_seq = #{group_seq}
	</select>
	
	<insert id="ganttRegist" parameterType="com.bitbox.dto.GroupDTO">
		<selectKey keyProperty="gan_seq" order="BEFORE" resultType="Integer">
			select gan_seq.nextval from dual
		</selectKey>
		insert into ggantt(gan_seq, gan_data, group_seq)
		values(#{gan_seq}, 'default', #{group_seq})
	</insert>
	
	<update id="saveGantt" parameterType="com.bitbox.dto.GanttDTO">
		update ggantt set gan_data = #{gan_data} where gan_seq = #{gan_seq}
	</update>
</mapper>
